/*INSERTAMOS FUENTES DE GOoGLE*/ 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); 
/*CSS VARIABLES*/ 
:root{ 
    --header-height: 3.5rem; 
    /*COLORES*/ 
    --primary-color: #4a4a4a; 
    --primary-color-alt: #575757; 
    --linear-gradient: linear-gradient(54deg, rgba(96,96,96,0.7)34%, rgba(96,96,96,0.70)100%); 
    --tittle-color: #4a4a4a; 
    --text-color: #555; 
    --text-color-alt: #999; 
    --bg-color: #fff; 
    --bg-color-alt: #e9ecef; 
    --border-color: #f1f1f1; 
    /*FUENTE Y TIPOGRAFIA*/
    --roboto-font:'Roboto', san-serif; 
    --mono-font: 'Roboto Mono', monospace; 
    --font-japanese: 'Noto Sans JP', sans-serif;
    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-lg: 1.25rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;
    /*FONT WEIGHT*/
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}
/*CSS BASE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body,button,input,textarea{
    font-family: var(--roboto-font);
    font-size: var(--fs-base);
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5rem;
}
h1,h2,h3{
    font-family: var(--mono-font);
    font-weight: var(--bold);
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
}
textarea,input{
    background: none;
    outline: none;
    border: none;
}
/*ESTILOS REUSABLES*/
.container{
    /*background: red;*/
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 0.9rem; 
    padding-right: 0.9rem;
}
.grid{
    display: grid;
}
.section{
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}
/*HEADER*/
.header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}
.nav{
    /*background-color: red;*/
    height: calc(var(--header-height) + 0.875rem);
    display: flex;
    align-items: flex-end;
}
.nav__list{
    display: flex;
    column-gap: 3.25rem;
}
.nav__links{
    color: #080808;
    font-size: 0.9rem;
    font-weight: var(--bold);
    font-family: var(--mono-font);
    text-transform: uppercase;
    position: relative;
    transition: 0.3s;
}
.nav__links:hover{
    opacity: 0.5;
}
.nav__links::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    width: 7px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s;
}
.nav__links:hover::after{
    opacity: 1;
}
.nav__close,
.nav__toggle{
    display: none;
}
/*ACTIVE LINK*/
.active-link{
    opacity: 0.7;
}
.avtive-link::after{
    opacity: 1;
}
/*SECTION HOME*/
.home{
    background: url(../img/imagen\ whatsapp.jpg);
    background-size: cover;
    padding-top: 5.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}
.home::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--linear-gradient);
}
.home__container{
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}
.home__img,
.home__data{
    z-index: 10;
}
.home__img{
    width: 93%;
    height: 380px;
    object-fit: cover;
    border-radius: 0.5rem;
    transform: translateY(3.125rem);
    box-shadow: 0 0 27px rgb( 96, 96, 96 / 34%);
}
.home__name,
.home__work,
.home__list,
.home__social-links{
    color: #f7f1f1;/*COLOR DE LAS LETRAS*/
    font-family: var(--mono-font);
}
.home__name{
    font-size: var(--fs-h1);
    line-height: 1.14em;
    margin: 0.9em 0 0.23em;
}
.home__work{
    margin-bottom: 2.5em;
}
.home__list dt{
    float: left;
    font-weight: var(--bold);
    opacity: 0.4;
}
.home__list dd{
    padding-left: 6.25em;
}
.home__list dd:not(:last-child){
    margin-bottom: 0.94em;
}
.home__socials{
    margin: 1.25rem 0 1.5rem;
}
.home__social-links{
    font-size: 1.7rem;
    line-height: 1.36rem;
    margin-right: 0.25rem;
    opacity: 0.4;
}
.home__social-links:hover{
    opacity: 1;
    color: var(--bg-color-alt)
}